html,
body {
  margin: 0;
  height: 100%;
}
div,
section,
p,
form {
  box-sizing: border-box;
}
.app {
  height: 100%;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  &:hover {
    @extend a;
  }
  &:focus {
    @extend a;
  }
}